/*--------------------*/
/*      Variables     */
/*--------------------*/

:root {
  /* Font Styling */
  --font-family: 'Myriad Regular',Verdana,'Sans Serif';
  --font-size: 1em;

  /* Colors */
  --primary: #1a5cc6;
  --hover:   #00b9f2;
  --light-color: #fefefe;
  --warning: #fd6400;
}

/*--------------------*/
/*  Basic Typography  */
/*--------------------*/

body,
html {
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: #eef0f0;
  font-family: var(--font-family);
  line-height: 1.5;
  color: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
}

ul {
  padding: 0;
  margin: 0;
}

a { 
  text-decoration: none; 
}

a:hover,
a:focus {
  outline: none;
  text-decoration: none;
  color: var(--hover);
}

.custom-alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.custom-alert p {
  margin: 10px 0;
  text-align: center;
}

.not-found h1 {
  font-size: 65px;
  font-weight: 700;
  color: #151723;
  text-align: center;
}

.not-found h2 {
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #151723;
}

.not-found p {
  font-weight: 400;
  color: #676767;
}

/*--------------------*/
/*        Forms       */
/*--------------------*/
form {
  margin: 30px auto 0;
  padding: 5%;
  background-color: var(--light-color);
  border-radius: 5px;
  box-shadow: 5px 2px 6px 0 rgba(0, 0, 0, 0.4);
}

.frame {
  margin: 30px auto 0;
  padding: 5%;
  background-color: var(--light-color);
  border-radius: 5px;
}

.form-heading,
.frame-heading {
  margin-top:15px;
  margin-bottom: 30px;
  color: var(--primary);
  text-align: center;
}

.form-row {
  padding: 15px 0;
}

form button {
  margin-top: 15px;
}

button:focus {
  outline: none;
  border: none;
}

.custom-mt {
  margin-top: calc(100vh / 7);
}

.validation {
  margin-bottom: 30px;
  text-align: center;
  color: var(--warning);
}

#validation-results {
  margin: 25px 0;
}

.dataTables_wrapper {
  margin-bottom: 20px;
}

/*--------------------*/
/*       Footer       */
/*--------------------*/
footer {
  position: fixed;
  bottom: 0;
}

.footer-basic {
  margin-top: 100px;
  padding: 23px 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #e3e3e3;
  color: #676767;
  text-align: center;
}

/*--------------------*/
/*  Responsive Style  */
/*--------------------*/
@media (max-height: 700px) {
  footer {
    position: static;
  }
}